.productDetail--content .product-price span.pro-percent {
    display: inline-block;
    padding: 3px 14px;
    margin-left: 10px;
    background: #f94c43;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: white;
    vertical-align: text-bottom;
   
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
.product-container-order {
    padding-left: 15px;
    padding-right: 15px;
    height: 183px;
    display: -webkit-flex;
    /* display: flex; */
    -webkit-flex-direction: column;
    flex-direction: column;
}
.productDetail--content .product-container-detail .product-container-order {
    margin-bottom: 15px;
}
.product-heading {
    margin-bottom: 15px;
    order: 0;
}
    .product-heading h1 {
        font-size: 24px;
        margin: 20px 0 8px;
    }
.product-variants {
    order: 4;
}
.product-price {
    order: 1;
    height: 36px;
    margin-bottom: 15px;
}
.product-price del {
    font-size: 18px;
    color: #878c8f;
    margin-right: 10px;
}
.productDetail--content .product-price span.pro-price {
    font-size: 25px;
    font-weight: 600;
    color: red;
}
.productDetail--content .product-policy-detail {
    background: #ffffff;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0 !important;
    margin: 0 !important;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
}
.product-policy-detail .item-policy-detail {
    background: rgba(236, 235, 232, 0.65);
    padding: 15px;
    width: 49%;
    text-align: center;
    font-weight: bold;
   
    display: flex;
    
    align-items: center;
   
    justify-content: center;
}
.panel-group .panel-title h2 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 20px 0;
    cursor: pointer;
    font-weight: bold;
}
.product-description .panel-group .panel-title {
    position: relative;
}
.description-productdetail p{
    color: #000000;
    line-height: 1.45;
    font-size: 14px;
    font-family:sans-serif;
}
.panel-title {
    cursor: pointer;
}

.panel-description {
    display: none;
}

.quantity-input {
    background: #fff;
    font-weight: 600;
    height: 45px;
    line-height: 45px;
    width: 60px;
    padding: 0;
    text-align: center;
    border: 1px solid #f3f4f4;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
}
.qty-btn {
    float: left;
    background: #f3f4f4;
    border: solid 1px #f3f4f4;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 45px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
   
    appearance: none;
}
.btn-addtocart {
    width: 67%;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    float: right;
}
.select-actions {
    width: 100%;
    float: left;
}
