.main-content-product{
    height:2622px;
}
.breadcrumb-all {
    width: 100%;
    height: 36.850px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width:1140px;
}
del {
    color: #808080;
    text-decoration: line-through;
    padding: 0 5px; /* Điều chỉnh giá trị tùy ý */
    font-family:sans-serif;
}

.wrap-breadcrumb {
    height: 100%;
    padding: 9px 0;
}
.breadcrumb-list {
    font-family: Quicksand, sans-serif;
    font-size: 13px;
    line-height: 18.85px;
    list-style: none;
    padding: 0;
    content: "/";
    margin: 0;
}
    .breadcrumb-list li {
        margin-left: -5px;
        display: inline; 
        margin-right: 10px; 
    }
        .breadcrumb-list li::before {
            content: " / ";
            margin-right: 5px; 
        }

        .breadcrumb-list li:first-child::before {
            content: "";
        }
    .breadcrumb-list a {
        text-decoration: none; 
        color: black; 
    }
.img-banner{
    width:1140px;
    height:431px;
    display:block;
}
.main-collection {
    width: 100%;
    height: 2152.75px;
}
.collection-heading{
    width:100%;
    height:68px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.collection-product {
    width: 100%;
    height: 1990.300px;
}
.wrap-heading {
    width:1140px;
    padding-bottom :15px;
    padding-left: 20px ;
    padding-right :20px ;
    padding-top :15px;
}
.title {
    width: 817.500px;
    height: 31.2px;
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.2px;
    font-family:sans-serif;
}
.sortbyfilter {
    width: 252px;
    height: 37px;
    position: relative;
    border: 1px solid #d8d3d3;
}
.icon-az {
    margin-left: 9px;
    line-height: 36px;
    font-size: 17px;
    color: #333;
    margin-right: 6px;
}
/* Định dạng tam giác mũi nhọn */
.triangle {
    position: absolute;
    left: 222px;
    top: 15px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #777777;
}
.collection-filter{
    width:100%;
    height:55.45px;
}
.title-filter {
    margin-right: 40px;
    width: 124px;
    height: 56px;
    line-height: 4.5;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    max-width: 30%;
}
.filter-container {
    margin-bottom: 5px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
}
.filter-all {
    display: flex;
    width: 100%;
    height: 40px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.filter-group {
    position: relative;
    width: 231px;
    height: 40px;
    border: 1px solid #d8d3d3;
    margin-right: 30px;
}


.wrap-filter {
    margin-bottom:15px;

}
.icon {
    position: absolute;
    top: 17px;
    left: 201px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #777777;
}

.list-product {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 230px);
    grid-template-rows: repeat(6, 313px);
    gap: 0; /* Khoảng cách giữa các ô */
}

.cell {
    display: block;
    width: 225px;
    height: 309px;
    
    overflow: hidden;
    transition: border 0.3s, box-shadow 0.3s;
}

    .cell:hover {
        border: 0px solid #d8d3d3; 
        box-shadow: 0px 0px 3px 1px #d8d3d3; 
    }


    .cell img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.detail {
    width: 228px;
    height: 82.05px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
}
.wrap-detail {
    width: 200px;
    height: 40.6px;
}
    .detail a {
       
        text-align: left;
        font-family: "Quicksand", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.45;
        text-decoration: none; 
        color: black; 
    }
.price {
    width: 210px;
    height: 20.450px;
}
.amount {
    
    margin-right: 4px;
    color: #d0021b;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.amount-del {
    color: #808080;
    text-decoration-line:line-through;
}
#loadMore {
    width: 200px;
    color: #808080;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d8d3d3;
    transition: .3s;
    text-decoration: none; 
}

    #loadMore:hover {
        border: 1px solid white;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1); 
    }





.dropdown {
    margin-left: -1px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px
}

.dropdown-content {
    display: block; 
    opacity: 0; 
    width: 252px;
    position: absolute;
    background-color: white;
    border: 1px solid #d8d3d3;
    border-top-color: white;
    z-index: 1;
    transform: translateY(4px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

    .dropdown-content a {
        color: #808080;
        padding: 2px 16px;
        text-decoration: none;
        display: block;
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 14px;
        line-height: 20.3px;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }


.dropdown:hover .dropdown-content {
    opacity: 1; 
    transform: translateY(0); 
}
.check-list {

    height:140px;
    padding: 1px 15px 1px 15px;
    margin: 0;
    list-style-type: none;
}
    .check-list label {
        height: 25px;
        display: block;
        margin-right: 10px;
        margin: 0px;
        font-weight: normal;
        cursor: pointer;
    }
.cartdropcontent {
    display: none;
}


    





    
