
Degrey/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Degrey/obj/Debug/Degrey.pdb
Degrey/obj/Debug/Degrey.dll
Degrey/obj/Debug/Degrey.csproj.FileListAbsolute.txt
Degrey/obj/Debug/Degrey.csproj.CoreCompileInputs.cache
Degrey/obj/Debug/Degrey.csproj.AssemblyReference.cache
.vs/Degrey/FileContentIndex/read.lock
.vs/Degrey/FileContentIndex/5872319f-1169-4ca3-a1ba-9c6f19f764f9.vsidx
.vs/Degrey/FileContentIndex/4034359d-e65c-4931-ab43-44407babfad7.vsidx
.vs/Degrey/FileContentIndex/3f00a2b1-301d-41c3-890a-81624cfc9d65.vsidx
.vs/Degrey/config/applicationhost.config
.vs/Degrey/v17/.suo
Degrey/bin/Degrey.dll
Degrey/bin/Degrey.pdb
.vs/Degrey/FileContentIndex/01d8014e-caa0-4c28-98e7-3ba0addd5a63.vsidx
.vs/Degrey/FileContentIndex/ce5ad3f3-e38f-480a-8197-faa338dc40ca.vsidx
.vs/Degrey/v17/fileList.bin
Degrey/bin/Degrey.dll
Degrey/bin/Degrey.dll.config
Degrey/bin/Degrey.pdb
Degrey/obj/Debug/Degrey.csproj.AssemblyReference.cache
Degrey/obj/Debug/Degrey.csproj.CoreCompileInputs.cache
Degrey/obj/Debug/Degrey.csproj.FileListAbsolute.txt
Degrey/obj/Debug/Degrey.dll
Degrey/obj/Debug/Degrey.pdb
Degrey/Web.config
Degrey/obj/Debug/Degrey.dll
Degrey/Degrey.csproj
Degrey/obj/Debug/Degrey.pdb
Degrey/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Degrey/bin/Degrey.dll
Degrey/bin/Degrey.dll.config
Degrey/bin/Degrey.pdb
.vs/Degrey/FileContentIndex/0b33e57c-1f5f-40e0-88a0-781c1e433201.vsidx
.vs/Degrey/FileContentIndex/61ff8147-8fdf-4ea3-a5a1-2e44cfcaa6c4.vsidx
.vs/Degrey/FileContentIndex/68cecc8e-ebc7-4c51-bf12-4a7a9a64d07c.vsidx
.vs/Degrey/FileContentIndex/6e78f7bb-9b68-43f8-8e08-cb6f417bb350.vsidx
.vs/Degrey/FileContentIndex/d125755b-e7af-403b-b4f0-828690aa8046.vsidx
.vs/Degrey/FileContentIndex/d2362a58-6f70-46b2-9255-5a0c8dd16749.vsidx
Degrey/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Degrey/obj/Debug/Degrey.pdb
Degrey/obj/Debug/Degrey.dll
Degrey/obj/Debug/Degrey.csproj.AssemblyReference.cache
Degrey/Degrey.csproj
Degrey/bin/Degrey.pdb
Degrey/bin/Degrey.dll.config
Degrey/bin/Degrey.dll
.vs/Degrey/FileContentIndex/d36f731f-f36b-44cf-a70c-a63f6ef7c722.vsidx
.vs/Degrey/FileContentIndex/a6fd7dfc-4a53-449d-a1e5-7ffb918394f1.vsidx
.vs/Degrey/FileContentIndex/2dbc564d-b395-430f-b1bc-953bd68dbe8e.vsidx
.vs/Degrey/FileContentIndex/48f13f86-446b-45d7-8e66-22c590fdcb5c.vsidx
