
Degrey/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Degrey/obj/Debug/Degrey.pdb
Degrey/obj/Debug/Degrey.dll
Degrey/obj/Debug/Degrey.csproj.FileListAbsolute.txt
Degrey/obj/Debug/Degrey.csproj.CoreCompileInputs.cache
Degrey/obj/Debug/Degrey.csproj.AssemblyReference.cache
.vs/Degrey/FileContentIndex/read.lock
.vs/Degrey/FileContentIndex/5872319f-1169-4ca3-a1ba-9c6f19f764f9.vsidx
.vs/Degrey/FileContentIndex/4034359d-e65c-4931-ab43-44407babfad7.vsidx
.vs/Degrey/FileContentIndex/3f00a2b1-301d-41c3-890a-81624cfc9d65.vsidx
.vs/Degrey/config/applicationhost.config
.vs/Degrey/v17/.suo
Degrey/bin/Degrey.dll
Degrey/bin/Degrey.pdb
